{% extends 'base.html' %}
{% block title %}Club{% endblock title %}
{% block content %}
{% if club %}
<div class="row justify-content-center">
    <div class="card" style="width: 70%;">
        <div class="card-header clubr-color text-white">
            <h5 style="display: inline">
                My club
            </h5>
        </div>
        <div class="card-body" style="text-align: center;">
            <br>
            <div class="row">
                <div class="col">
                    <h4>Club Information</h4>
                    <p><strong>Club Name:</strong>
                        {{club.clubName}}
                    </p>
                    <p><strong>Team Name:</strong>
                        {{club.teamName}}
                    </p>
                    <p><strong>Tax Number:</strong>
                        {{club.taxNo}}
                    </p>
                </div>
                <div class="col">
                    <h4>Members</h4>
                    <ul class="list-group">
                        {% for member in club.members %}
                            <li class="list-group-item" >{{member}}</li>
                        {% endfor %}
                      </ul>
                </div>
            </div>
            <br>
            
            <p><a href="{% url 'supervisor:edit_club'  club.taxNo  %}" class="btn btn-success btn-sm rounded-pill">Edit</a>
                <a href="{% url 'supervisor:delete_club'  club.taxNo  %}" class="btn btn-danger btn-sm rounded-pill">Delete</a>
            </p>
            <br>
            {% if club.shops|length > 0 %}
            <h4>Shops <a class="float-right" href="{% url 'supervisor:add_shop'  club.taxNo  %}" >Add shop</a></h4>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Active</th>
                        <th scope="col">Type</th>
                        <th scope="col">City</th>
                        <th scope="col">Address</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for shop in club.shops %}
                        <tr>
                            <td>{{ shop.id }}</td>
                            <td>{{ shop.active }}</td>
                            <td>{{ shop.shopType }}</td>
                            <td>{{ shop.city }}</td>
                            <td>{{ shop.address }}</td>
                            <td>
                                <a href="{% url 'supervisor:edit_shop' club.taxNo shop.id  %}" class="btn btn-success btn-sm rounded-pill">Edit</a>
                                <a href="{% url 'supervisor:delete_shop'  club.taxNo shop.id  %}" class="btn btn-danger btn-sm rounded-pill">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    No shops found ! <a href="{% url 'supervisor:add_shop'  club.taxNo  %}" >Add shop</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<div class="alert alert-danger" role="alert">
    No club found ! <a href="{% url 'supervisor:add_application'  %}" >Create Application</a>
</div>
{% endif %}
{% endblock %}