{% extends 'base.html' %}
{% block title %}Users{% endblock title %}
{% block content %}
<div class="card">
    <div class="card-header text-white clubr-color">
      <h5 style="display: inline">Users</h5>
      <span class="float-end"><a href="{% url 'admin:add_user'  %}" class="btn btn-outline-light rounded-pill">Add User</a></span>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.userRole }}</td>
                    <td>
                        <a href="{% url 'admin:edit_user'  user.username  %}" class="btn btn-success btn-sm rounded-pill">Edit</a>
                        <a href="{% url 'admin:delete_user'  user.username  %}" class="btn btn-danger btn-sm rounded-pill">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}